.link {
  display: flex;
  font-weight: 500;
  cursor: pointer;
  color: #ef767a;
  margin: 12px 6px;
  text-decoration: none;
}

.iconContainer {
  width: 36px;
  height: 36px;
  border: 3px solid #fce347;
  p {
    margin: 10px 0;
    text-align: center;
    color: rgb(49, 49, 49);
    height: 100%;
    width: 100%;
  }
  span {
    margin: 6px 0;
    text-align: center;
    color: rgb(49, 49, 49);
    height: 100%;
    width: 100%;
  }
}

.iconContainerClosed {
  @extend .iconContainer;
  margin: auto;
}

.title {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  margin: 12px 8px 0px 8px;
  display: inline-block;
  max-height: 1.6em;
  line-height: 1.6em;
}
